Options +FollowSymLinks
RewriteEngine on
RewriteRule ^altin.html? altin.php [NC,L]
RewriteRule ^doviz.html? doviz.php [NC,L]
RewriteRule detayaltin-(.*).html altind.php?altin=$1
RewriteRule detaydoviz-(.*).html dovizd.php?doviz=$1
